<!-- views/profile.ejs -->
<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="/assets/css/fillInfo.css" />

<head>
    <title>eDot. Profile</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/assets/css/font-awesome.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
    <body class="fillIn">
        <header>
            <% include ../partials/header %>
        </header>
        <div class="container">
            <div class="row" >
                <div class="col-md-6 col-sm-offset-0">
                    <div style="width: 568px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </div>
                 <div class="col-md-6">
                    <img src="/assets/img/book1.jpg" alt="camera" style="height: 693px;width: 567px;margin-top: -80px;margin-left: 101px;opacity: 0.9;">

                </div>
            </div>
            
        </div>
    </body>
    <footer>
        <% include ../partials/footer %>
    </footer>
</html>
