<!doctype html>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />


<html>
<head>
    <title >eDot.</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/assets/css/font-awesome.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class="body">
<div class="container">

    <div class="jumbotron text-center welcomeBox">
        <div class="welcome" >Welcome to eDot</div>
        <h4 style="font-family: 'myria';">Rate books and share reviews easily in eDot!</h4>

        <p class="welcomeDescription">Login or Signup</p>

        <a href="/login" class="btn btn-default welcomeBtn"><span class="fa fa-sign-in"></span> Login </a>
        <a href="/signup" class="btn btn-default welcomeBtn"><span class="fa fa-user-plus"></span> Signup </a>
    </div>

</div>
</body>
</html>

